<h1>プロフィール</h1>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= @user.follow_count %>
        <%= link_to "フォロー", {controller: :users,action: :follow_list,user_id: @user.id}, method: :get %>
        <% #クリックすると、フォローリストに飛ぶ %>
        <%= @user.followers_count %>
        <%= link_to "フォロワー", {controller: :users,action: :follower_list,user_id: @user.id}, method: :get %>
        <% #クリックすると、フォロワーリストに飛ぶ %>
        <% if current_user.id != @user.id %>
          <%= render 'follow_form' %>
        <% end %>
        <br/><br/><br/>
        <button type="button" class="btn btn-dark"><%= link_to "他の人をフォローする", addfri_path %></button>
        
        <br/><br/><br/>

      <%= render 'chat_form' %>
    </section>
  </aside>
</div>