<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <div class="newloginnav">
        <button type="button" class="btn btn-dark"><%= link_to "ホーム", root_path %></button>  
        <button type="button" class="btn btn-dark"><%= link_to "プロフィール", current_user %></button>
        <button type="button" class="btn btn-dark"><%= link_to "友達", friend_path %></button>
        <button type="button" class="btn btn-dark"><%= link_to "設定", edit_user_path(current_user) %></button>
        <button type="button" class="btn btn-dark"><%= link_to "ログアウト", logout_path, method: :delete %></button>
      </div>
    </section>
  </aside>
</div>