<h1>フォローするユーザーを検索</h1>

<p>検索</p>
<%= form_tag(user_search_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<% if @users != nil %>
  <% @users.each do |user| %>
  <ul>
      <li class="itiran"><%= link_to user.name, user_path(user) %><%= gravatar_for user %></li>
  </ul>
  <% end %>
<% end %>